.admin-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    margin-top: 250px;
  }
  
  .admin-avatar {
    width: 150px;
    height: 150px;
  }
  
  .logout-button {
    max-width: 250px; 
  }
  
  .logout-container {
    justify-content: center;
    margin-top: 10px;
  }

  .tombol {
    margin-top: 10px;
  }